{% extends "base.html" %}

{% block content %}
<!-- Your page content -->

<!DOCTYPE html>
<html>

<head>
    <title>Product Details</title>
</head>

<body>

    <h2>{{ product.name }}</h2>

    <img src="/static/uploads/product_image/{{ product.image }}" width="300"><br><br>

    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Category:</strong> {{ product.category }}</p>
    <p><strong>Price:</strong> ₹{{ product.price }}</p>

    <br>
    <a href="/user/products">Back to Products</a>
    <form action="/user/add-to-cart/{{ product.product_id }}" method="GET">
        <button type="submit">Add to Cart</button>
    </form>


</body>

</html>
{% endblock %}